{% extends 'basefile.html' %} {% block contentAdmin %}

<div class="container m-5 p-5 jumbotron">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <a href="{% url 'dashboard' %}" class="btn btn-outline-primary"
        >back to home</a
      >
    </div>
  </div>

  <h4 class="bg-info m-5 text-center">Post on Referral page</h4>
  <form action="" method="post">
    {% csrf_token %} {{form.as_p}}

    <input type="submit" value="Submit" class="btn btn-success" />
  </form>
</div>

{% endblock contentAdmin %}
