<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>An Educational & Writing Services Provider</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/fav.png' %}"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mysheet.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
    />
  </head>
  <body>
  
   

    <div class="main_header-banner">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <ul class="social-icons list-inline">
                <li>
                  <a
                    href="https://www.facebook.com/AimlayPvtLtd/"
                    target="_blank"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/RKGuptaDelhi" target="_blank"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCcg0EP3XEs9VPrE9dNEFTvA"
                    target="_blank"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/rkguptadelhi/"
                    target="_blank"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://instagram.com/aimlay_pvt_ltd?igshid=11xuw4p9e0pou"
                    target="_blank"
                    ><i class="fa fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="contact-details list-inline">
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i>+91 828-7801-801
                </li>
                <li>
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>+91
                  799-9999-015
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header-bottom">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="{% static 'images/logo.png' %}" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#abt">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#bser"> Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#vis">Our Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#reg">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#reg">Join Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="tech-slideshow">
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
            ></li>
            <li
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
            ></li>
            <li
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
            {% for i in object_list %}
              <img src="{{i.Image1.url}}" class="d-block w-100" />
              <div class="carousel-caption d-none d-md-block">
                <h5>
                  AIMLAY - we are an Educational & Writing Services Provider!
                </h5>
                <p>
                  We provide out of the way QUALITY SUPPORT which one expects
                  and requires.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{i.Image2.url}}" class="d-block w-100" />
              <div class="carousel-caption d-none d-md-block">
                <h5>OUR SERVICES</h5>
                <ul>
                  <li><a href="#">PhD Admission | </a></li>
                  <li><a href="#">Honorary Doctorate | </a></li>
                  <li><a href="#">Thesis Writing | </a></li>
                  <li><a href="#">Book Writing | </a></li>
                  <li><a href="#">Biography | </a></li>
                  <li><a href="#">Educational Academy |</a></li>
                  <li><a href="#">Engineering Academy |</a></li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{i.Image3.url}}" class="d-block w-100" />
{% endfor %}
              <div class="carousel-caption d-none d-md-block">
                <h5>WE CAN HELP YOU</h5>
                <p>COMPLETE YOUR EDUCATION FROM WHERE YOU LEFT</p>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="about_sec" id="abt">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              <h3 class="main_heading">ABOUT US</h3>
            </div>
            <p>
              Our whole purpose of <span>EDUCATION</span> is to turn our
              candidates into a successful achiever.
            </p>
            <p>
              We started as an educational counselling for needy students and
              our professional guidance greatly helped them in achieving
              academic excellence. Slowly our reputation grew among students and
              working professionals who had a desire for completing their
              education from where they had left. We helped them too and managed
              to get them admission in good universities and colleges! The
              effect was incredible. And now hundreds of students started
              approaching us and we thought what we needed was a broader and
              greater prospective.
            </p>
            <a href="#" class="learn_more-button">Learn More</a>
          </div>
          <div class="col-md-6">
            <div class="about_us-slider">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="3"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="4"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="5"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="6"
                  ></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                        {% for a in object_list %}
                    <img
                      src="{{a.aboutimage1.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage2.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage3.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage4.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage5.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage6.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="{{a.aboutimage7.url}}"
                      class="d-block"
                      alt="about_banner-img"
                    />
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-services_sec" id="ser">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <h3 class="main_heading">Our Featured Services</h3>
            </div>
            <p>{% for s in object_list %} {{s.servicecontent}} {% endfor %}</p>
          </div>
          <div class="col-md-12">
            <div id="news-slider" class="owl-carousel">
              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/phd_phd.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title"><a href="#">PhD Admission</a></h3>
                  <p class="post-description">
                    We provide ‘PhD Admission’ to those candidates who are
                    either extremely busy in their hectic lifestyles or they are
                    working professionals who aim to complete higher education,
                    or they are students who find it very difficult to manage
                    everything on their own! All possible supports provided!
                  </p>
                  <a
                    href="https://www.phdadmission.in/"
                    target="_blank"
                    class="read-more"
                    >www.phdadmission.in</a
                  >
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/thesis-logo.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title"><a href="#">Thesis Writing</a></h3>
                  <p class="post-description">
                    Writing a Thesis and Synopsis for research has never been
                    easier for scholars especially when they are working,
                    however, they still engage themselves in this lengthy piece
                    of academic writing. e, with the help of our Thesis Writing
                    team assist our scholars in every step carefully and
                    systemically.
                  </p>
                  <a
                    href="http://www.thesiswriting.in/"
                    target="_blank"
                    class="read-more"
                    >www.thesiswriting.in</a
                  >
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/educational.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Educational Academy</a>
                  </h3>
                  <p class="post-description">
                    We take privilege to introduce WorldStar Educational Academy
                    for Regular & Distance Studies, which constantly strives for
                    excellence, coupled with all round personality development
                    for the students as well as Working Professionals.
                    Discontinue students to familiarize as well as Upgrade their
                    education.
                  </p>
                  <a
                    href="https://www.worldstaredu.com/"
                    target="_blank"
                    class="read-more"
                    >www.worldstaredu.com</a
                  >
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/honorary.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title"><a href="#">Honorary Doctorate</a></h3>
                  <p class="post-description">
                    Our goal here is to award 'Honorary Doctorates' to
                    individuals, we can be proud of themselves for being a good
                    man. And individuals who have shown generosity and helped
                    and uplifted their communities’ living standard, and have
                    inspired hundreds of others through their passion and
                    commitment.
                  </p>
                  <a
                    href="http://www.honorarydoctorate.in/"
                    target="_blank"
                    class="read-more"
                    >www.honorarydoctorate.in</a
                  >
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/book-logo.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title"><a href="#">Book Writing</a></h3>
                  <p class="post-description">
                    we provide a full range of writing services for people who
                    want to see their names in print, and PhD scholars, just
                    like you? There are thousands of people around the world who
                    have great interest in writing and reading, but since they
                    are so engaged in their hectic lifestyles and professions.
                  </p>
                  <a
                    href="https://www.bookwriting.in/"
                    target="_blank"
                    class="read-more"
                    >www.bookwriting.in</a
                  >
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/wsw-engg.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Engineering Academy</a>
                  </h3>
                  <p class="post-description">
                    Engineering is the application of scientific, economic and
                    practical knowledge to build as well as maintain machines,
                    buildings, devices, systems and processes. Therefore,
                    helping engineering students is challenge and is a broad
                    work. Our highly specialised team manage to take everything
                    from where students feel a professional help is required.
                  </p>
                  <a
                    href="https://www.worldstarengineering.com/"
                    target="_blank"
                    class="read-more"
                    >www.worldstarengineering.com
                  </a>
                </div>
              </div>

              <div class="post-slide">
                <div class="post-img">
                  <img
                    src="{% static 'images/featured-services-logo/bio_logo.png' %}"
                  />
                </div>
                <div class="post-content">
                  <h3 class="post-title"><a href="#">Biography</a></h3>
                  <p class="post-description">
                    Biography is not all about writing your biography it is all
                    about preserving your entire life in the modern history of
                    contemporary era! Every person on earth has a story to tell
                    which can inspire millions of people throughout the
                    generations. You must have a desire to live forever even
                    after your death! We are developing a platform you will be
                    known all the time.
                  </p>
                  <a
                    href="https://www.biography.dev/"
                    target="_blank"
                    class="read-more"
                    >www.biography.dev</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="register_sec" id="reg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <h3 class="main_heading">Inquiry Now</h3>
            </div>
            <p>
              We will love to hear your response on any of our SERVICES and will
              be happy to talk about it! Kindly fill the form on the left and
              send us all the relevant information. We will try out to get back
              to you as soon as you query arrive to us! TILL THEN ALL THE BEST!
            </p>
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#registermodal"
            >
              Apply Now
            </button>
          </div>
          <div
            class="modal fade"
            id="registermodal"
            tabindex="-1"
            aria-labelledby="registermodalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="registermodalLabel">
                    Inquiry Form
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form class="chilwalregister_form" method='post' action={% url 'home' %}>
                  {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label">Enter Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                        name="stuname"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Enter Contact Number</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter WhatsApp Numbe or Contact Number"
                        name="stucontact"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Enter Email</label>
                      <input
                        type="Email"
                        class="form-control"
                        placeholder="WhatsApp Number"
                        name="stumail"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Enter Subject</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course &amp; Subject, or Services"
                        name="msg"
                      />
                    </div>
                    <input type="submit" value="submit" name="ubutton" class="btn btn-outline-secondary" />
                    {% comment %} <input type="submit" value="send" class="btn btn-outline-primary"> {% endcomment %}
                    
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-sec" id="vis">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="faq-left">
              <img src="{% static 'images/faq.jpg' %}" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="faq-right">
              <div>
                <h3 class="main_heading">Solution</h3>
              </div>
              <p>This should be provided post asking few questions</p>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Accordion Item #1
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong>
                      {% for a in object_list %} {{a.solution }} {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Accordion Item #2
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong>
                     {% for a in object_list %} {{a.solution }} {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Accordion Item #3
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong>
                     {% for a in object_list %} {{a.solution }} {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg_img_sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <h4>
                The Whole Purpose Of Education Is To Turn Mirrors Into Windows
              </h4>
            </div>
            <p>
              We will love to hear your response on any of our SERVICES and will
              be happy to talk about it! Kindly fill the form on the left and
              send us all the relevant information. We will try out to get back
              to you as soon as you query arrive to us! TILL THEN ALL THE BEST!
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="benefits_sec" id="bser">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="benefits_sec-left">
              <div>
                <h3 class="main_heading">Benefits from our services</h3>
              </div>
              <ul>
                <li>Well Researched and professionally written content</li>
                <li>On time delivery</li>
                <li>Experienced and dedicated support</li>
                <li>Multi-slot payment option</li>
                <li>Plagiarism Free Content</li>
                <li>
                  Without impacting your professional life, Research work will
                  be completed within your limited time frame
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static 'images/benifit.jpg' %}" />
          </div>
        </div>
      </div>
    </div>

    <div class="counter-sec1">
      <div class="counter_sec1-inner">
        <ul class="list-inline">
          <li class="counter-container">
            <!--<i class="fab fa-instagram fa-3x"></i>-->
            <div class="counter" data-target="1546"></div>
            <span>Phd Admission</span>
          </li>
          <li class="counter-container">
            <div class="counter" data-target="4345"></div>
            <span>Thesis</span>
          </li>
          <li class="counter-container">
            <div class="counter" data-target="5420"></div>
            <span>UG PG Admission</span>
          </li>
          <li class="counter-container">
            <div class="counter" data-target="11311"></div>
            <span>Total Projects</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="student_says-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <h3 class="main_heading">What Our Students Says</h3>
            </div>
            <p>
              We are more than happy to publish the success stories of our
              students who have tremendously benfitted from us. All the best to
              our thousands of clients, or say our STUDENTS.
            </p>
          </div>
          <div class="col-md-8 offset-md-2">
            <div id="testimonial-slider" class="owl-carousel">
              <div class="testimonial">
                <div class="pic">
                  {% for s in object_list %}<img
                    src="{{s.successimage1.url}}"
                  />
                  {% endfor %}
                </div>
                <div class="testimonial-content">
                  <p>
                     {% for s in object_list %} {{s.succestory1}} {% endfor %}
                  </p>
                </div>
                
              </div>
              <div class="testimonial">
                <div class="pic">
                  {% for s in object_list %}<img
                    src="{{s.successimage2.url}}"
                  />
                  {% endfor %}
                </div>
                <div class="testimonial-content">
                  <p>
                    {% for s in object_list %} {{s.succestory2}} {% endfor %}
                  </p>
                </div>
               
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="my-footer-top">
          <div class="row">
            <div class="col-md-2">
              <a class="footer-logo" href="#"
                ><img
                  src="{% static 'images/logo.png' %}"
                  alt="logo"
                  class="img-responsive"
              /></a>
            </div>
            <div class="col-md-4">
              <h3>What We Do</h3>
              <p>
                AimLay Private Limited has been known for building students’
                personality by enhancing academic portfolios.
                <span
                  >And other forms of educational need! Students of any
                  background are warmly welcomed! You are Hopeless when come and
                  You are Hopeful when you Go!</span
                >
              </p>
            </div>
            <div class="col-md-4">
              <h3>Contact Info</h3>
              <ul>
                <li>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>125 Baaz
                  Mall, Pocket 5, Sec 24
                  <span>ROHINI, New Delhi 10085 | INDIA</span>
                </li>
                <li>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i
                  ><a href="#">info@aimlay.com</a>
                </li>
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i>{% for con in  object_list %} {{con.contact}} {% endfor %}
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <h3>Navigation</h3>
              <ul>
                <li><a href="#">COURSES</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mail Us</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="my-footer-bottom">
          <div class="row">
            <div class="col-md-8">
              <p>
                © 2021 AimLay Pvt. Ltd. All Rights Reserved | Designed &
                Developed By
                <a href="http://netcoreinfo.com/" target="_blank"
                  >Netcoreinfo</a
                >
              </p>
            </div>
            <div class="col-md-4">
              <ul class="footer_social_icons">
                <li>
                  <a href="#" target="_blank" class="facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank" class="twitter"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a target="_blank" href="#" class="youtube"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank" class="linkedin"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a target="_blank" href="#" class="google-plus"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a id="buttonscroll-top"></a>

    <div class="fixed_calling-chilwal">
      <div class="fixedcall">
        <a class="phonenumber" href="tel:8080808080"
          ><span
            ><i class="fa fa-volume-control-phone" aria-hidden="true"></i
          ></span>
          <p>Call Now<br />8080808080</p></a
        >
      </div>
      <div class="fixedwhatapp">
        <a class="phonenumber" href="https://wa.me/9999000011"
          ><span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
          <p>WhatsApp<br />9999000011</p></a
        >
      </div>
    </div>

    <div class="call_back-button">
      <form name="contact-form" class="cc-float-form" method="post" action={% url 'home' %}>
        {% csrf_token %}
        <p></p>
        Name:
        <span style="color: #3ea944">*</span><br />
        <input
          class="contact-form-area"
          name="sname"
          size="30"
          value=""
          type="text"
        />
        <p></p>
        Email:
        <span style="color: #3ea944">*</span><br />
        <input
          class="contact-form-area"
          name="semail"
          size="30"
          value=""
          type="text"
        />
        <p></p>
        Message: <span style="color: #3ea944">*</span><br />
        <textarea
          class="contact-form-area"
          name="smsg"
          cols="25"
          rows="5"
        ></textarea>
        <p></p>

        <input type="submit" value="submit" name="dbutton" class="btn btn-outline-secondary" />
      </form>
    </div>

    <div class="floating_chat-button">
      <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <p>Online - Chat With Us</p>
      </div>

      <div class="chat-box">
        <div class="chat-box-header">
          ChatBot
          <span class="chat-box-toggle"
            ><i class="fa fa-times" aria-hidden="true"></i
          ></span>
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay"></div>
          <div class="chat-logs"></div>
        </div>
        <div class="chat-input">
          <form>
            <input
              type="text"
              id="chat-input"
              placeholder="Send a message..."
            />
            <button type="submit" class="chat-submit" id="chat-submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
    ></script>

    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $(".header-bottom").addClass("shrink");
          $(".add").hide();
        } else {
          $(".header-bottom").removeClass("shrink");
          $(".add").show();
        }
      });
    </script>

    <script>
      $(function () {
        $(".scroll-down").click(function () {
          $("html, body").animate(
            { scrollTop: $(".about_sec").offset().top },
            "slow"
          );
          return false;
        });
      });
    </script>

    <script>
      const counters = document.querySelectorAll(".counter");

      counters.forEach((counter) => {
        counter.innerText = "0";
        const updateCounter = () => {
          const target = +counter.getAttribute("data-target");
          const count = +counter.innerText;
          const increment = target / 200;
          if (count < target) {
            counter.innerText = `${Math.ceil(count + increment)}`;
            setTimeout(updateCounter, 1);
          } else counter.innerText = target;
        };
        updateCounter();
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#myModalhome").modal("show");
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
          items: 1,
          itemsDesktop: [1000, 1],
          itemsDesktopSmall: [979, 1],
          itemsTablet: [768, 1],
          pagination: false,
          navigation: true,
          navigationText: ["", ""],
          slideSpeed: 1000,
          autoPlay: true,
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#news-slider").owlCarousel({
          items: 3,
          itemsDesktop: [1199, 3],
          itemsDesktopSmall: [980, 2],
          itemsMobile: [600, 1],
          navigation: true,
          navigationText: ["", ""],
          pagination: true,
          autoPlay: true,
        });
      });
    </script>

    <script>
      var btn = $("#buttonscroll-top");

      $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
          btn.addClass("show");
        } else {
          btn.removeClass("show");
        }
      });

      btn.on("click", function (e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "300");
      });
    </script>

    <script>
      $(function () {
        var INDEX = 0;
        $("#chat-submit").click(function (e) {
          e.preventDefault();
          var msg = $("#chat-input").val();
          if (msg.trim() == "") {
            return false;
          }
          generate_message(msg, "self");
          var buttons = [
            {
              name: "Existing User",
              value: "existing",
            },

            {
              name: "New User",
              value: "new",
            },
          ];

          setTimeout(function () {
            generate_message(msg, "user");
          }, 1000);
        });

        function generate_message(msg, type) {
          INDEX++;
          var str = "";
          str +=
            "<div id='cm-msg-" + INDEX + "' class=\"chat-msg " + type + '">';
          str += '          <span class="msg-avatar">';
          str +=
            "            <img src=http://emilcarlsson.se/assets/mikeross.png>";
          str += "          <\/span>";
          str += '          <div class="cm-msg-text">';
          str += msg;
          str += "          <\/div>";
          str += "        <\/div>";
          $(".chat-logs").append(str);
          $("#cm-msg-" + INDEX)
            .hide()
            .fadeIn(300);
          if (type == "self") {
            $("#chat-input").val("");
          }
          $(".chat-logs")
            .stop()
            .animate({ scrollTop: $(".chat-logs")[0].scrollHeight }, 1000);
        }

        function generate_button_message(msg, buttons) {
          INDEX++;
          var btn_obj = buttons
            .map(function (button) {
              return (
                '              <li class="button"><a href="javascript:;" class="btn btn-primary chat-btn" chat-value="' +
                button.value +
                '">' +
                button.name +
                "<\/a><\/li>"
              );
            })
            .join("");
          var str = "";
          str += "<div id='cm-msg-" + INDEX + '\' class="chat-msg user">';
          str += '          <span class="msg-avatar">';
          str +=
            "            <img src=https://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg>";
          str += "          <\/span>";
          str += '          <div class="cm-msg-text">';
          str += msg;
          str += "          <\/div>";
          str += '          <div class="cm-msg-button">';
          str += "            <ul>";
          str += btn_obj;
          str += "            <\/ul>";
          str += "          <\/div>";
          str += "        <\/div>";
          $(".chat-logs").append(str);
          $("#cm-msg-" + INDEX)
            .hide()
            .fadeIn(300);
          $(".chat-logs")
            .stop()
            .animate({ scrollTop: $(".chat-logs")[0].scrollHeight }, 1000);
          $("#chat-input").attr("disabled", true);
        }

        $(document).delegate(".chat-btn", "click", function () {
          var value = $(this).attr("chat-value");
          var name = $(this).html();
          $("#chat-input").attr("disabled", false);
          generate_message(name, "self");
        });

        $("#chat-circle").click(function () {
          $("#chat-circle").toggle("scale");
          $(".chat-box").toggle("scale");
        });

        $(".chat-box-toggle").click(function () {
          $("#chat-circle").toggle("scale");
          $(".chat-box").toggle("scale");
        });
      });
    </script>
  </body>
</html>
